<div class="table-responsive">
    <div class="table-wrapper">
        <div class="table-title">
           
        </div>

        <table class="table table-bordered">
    <table class="table">
        <thead>
          <tr>
          <th scope="col">#</th>
          <th scope="col">Nom</th>
          <th scope="col">Prenom</th>
          <th scope="col">Email</th>
          <th scope="col">Telephone</th>
          <th scope="col">Sexe</th>
          <th scope="col">Grade</th>
          <th scope="col">Specialite</th>
          
          </tr>
        </thead>
        <tbody>
  
          <tr *ngFor='let e of enseignants'>
          <th >{{e.id}}</th>
          <td>{{e.nom}}</td>
          <td>{{e.prenom}}</td>
          <td>{{e.email}}</td>
          <td>{{e.telephone}}</td>
          <td>{{e.sexe}}</td>
          <td>{{e.grade}}</td>
          <td>{{e.specialite}}</td>
          <td>
            <a class="edit" title="Edit" data-toggle="tooltip" (click)='goToEdit(e.id)'><i class="material-icons">&#xE254;</i></a>
            <a class="delete" title="Delete" data-toggle="tooltip"(click)='deleteenseignant(e.id)'><i class="material-icons">&#xE872;</i></a>
          </td>
         </tr>  
        </tbody>
        </table>
     
     
 





