<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <h1>Tek-UP University</h1>
        <h2>
          Private Higher School of Technologies and Engineering 
        </h2>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
      <div
        class="col-lg-6 order-1 order-lg-2 hero-img"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <img src="assets/img/hero-img.png" class="img-fluid animated" alt="" />
      </div>
    </div>
  </div>
</section>

<main id="main">
 
 
  <main id="main">
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>About Us</h2>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            TEK-UP University is the corporate name of the Private Higher School of Technologies and Engineering 
            approved by the Tunisian Ministry of Higher Education and Scientific Research (MESRS) in September 2014.
            TEK-UP is an institution that offers the opportunity to benefit from an academic education which is 
            able to equip students with the knowledge, skills and the know-how needed to be a successful Engineer in the near future. 
            TEK-UP is authorized to award two national engineering degrees in computer science and telecommunications.
          </p>
          <a href="#" class="btn-learn-more">Learn More</a>
        </div>
      </div>
    </section>
    

    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>domains</h2>
        </div>
        <div class="row">
          <div
            class="col-xl-3 col-md-6 d-flex align-items-stretch"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">cybersecurity</a></h4>
              <p>
                Computer security, cyber security, digital security or information technology security (IT security)
                 is the protection of computer systems and networks
              </p>
            </div>
          </div>

          <div
            class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
            data-aos="zoom-in"
            data-aos-delay="200"
          >
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Data science</a></h4>
              <p>
                Data science is the study of data 
                to extract meaningful insights for business
              </p>
            </div>
          </div>

          <div
            class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
            data-aos="zoom-in"
            data-aos-delay="300"
          >
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Web developement</a></h4>
              <p>
                Web development is the building and maintenance of websites; 
                it's the work that happens behind the scenes to make a website look great
              </p>
            </div>
          </div>

          <div
            class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
            data-aos="zoom-in"
            data-aos-delay="400"
          >
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4><a href="">software engineering </a></h4>
              <p>
                Software engineering is the branch of computer science that deals with the design,
                 development, testing, and maintenance of software applications
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
   
    <!-- End Contact Section -->
  </main>
  <!-- End #main -->
</main>
