<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Liste Enseignant</h2>
      <!-- <p>Marqué les etudiants absentes</p> -->
    </div>

    <div class="align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
      <div class="icon-box">
        <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
        <h4>
          <button class="btn btn-danger">
            <a href="" style="text-decoration: none; color: white"
              >Ajouter un Enseignant</a
            >
          </button>
        </h4>
      </div>
    </div>
  </div>
</section>
