<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Espace Etudiant</h2>
      <!-- <p>Marqué les etudiants absentes</p> -->
    </div>

    <div class="row">
      <div
        *ngFor="let user of users"
        class="col-xl-3 col-md-4 col-sm-6"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4>
            <a href="">{{ user.nom + " " + user.prenom }}</a>
          </h4>
          <p>{{ getTauxAbsence(user.id) }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
