<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Liste Enseignant</h2>
        <!-- <p>Marqué les etudiants absentes</p> -->
      </div>
  
      <div class="align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
          <h4>
            <button class="btn btn-danger">
              <a href="addEnseignant" style="text-decoration: none; color: white"
                >Ajouter un Enseignant</a
              >
            </button>
          </h4>
    <table class="table">
        <thead>
          <tr>
          <th scope="col">#</th>
          <th scope="col">Nom</th>
          <th scope="col">Prenom</th>
          <th scope="col">Email</th>
          <th scope="col">Telephone</th>
          <th scope="col">Sexe</th>
          <th scope="col">Grade</th>
          <th scope="col">Specialite</th>
          <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
  
          <tr *ngFor ='let e of enseignants'>
          <th >{{e.id}}</th>
          <td>{{e.nom}}</td>
          <td>{{e.prenom}}</td>
          <td>{{e.email}}</td>
          <td>{{e.telephone}}</td>
          <td>{{e.sexe}}</td>
          <td>{{e.grade}}</td>
          <td>{{e.specialite}}</td>
          <td>
            <button class="btn btn-primary" (click)='goToEdit(e.id)'>Edit</button>
            <button class="btn btn-danger" (click)='deleteEnseignant(e.id)'>Delete</button>
          </td>
         </tr>  
        </tbody>
    </table>
  </div>
</div>
</div>
</section>

     
     
 


